<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
</head>

<body>
    <div 
        style="text-align:center; margin-top:40px; width: 500px; margin-inline: auto; padding: 20px">
        <img style="width: 250px; height: 250px" src="404.jpg" alt="#404">
        <h1
            style="background:teal;color:orange; padding: 20px">
            😪 404, Page not Found 😭
        </h1>
        <button style="background-color: crimson; color: yellowgreen"><a style="text-decoration: none;" href="/">🏡 Go back home</a></button>
    </div>
</body>

</html>